.container {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .container {
      color: white;
      background-color: black;
  }
}